In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('metadata.csv')
df

,Unnamed: 0,cast,crew,id,keywords,original_title,metadata
0,0,"['tomhanks', 'timallen', 'donrickles', 'jimvar...",['johnlasseter'],862,"['jealousy', 'toy', 'boy', 'friendship', 'frie...",Toy Story,tomhanks timallen donrickles jimvarney wallace...
1,1,"['robinwilliams', 'jonathanhyde', 'kirstenduns...",['joejohnston'],8844,"['boardgame', 'disappearance', ""basedonchildre...",Jumanji,robinwilliams jonathanhyde kirstendunst bradle...
2,2,"['waltermatthau', 'jacklemmon', 'ann-margret',...",['howarddeutch'],15602,"['fishing', 'bestfriend', 'duringcreditsstinge...",Grumpier Old Men,waltermatthau jacklemmon ann-margret sophialor...
3,3,"['whitneyhouston', 'angelabassett', 'lorettade...",['forestwhitaker'],31357,"['basedonnovel', 'interracialrelationship', 's...",Waiting to Exhale,whitneyhouston angelabassett lorettadevine lel...
4,4,"['stevemartin', 'dianekeaton', 'martinshort', ...",['charlesshyer'],11862,"['baby', 'midlifecrisis', 'confidence', 'aging...",Father of the Bride Part II,stevemartin dianekeaton martinshort kimberlywi...
...,...,...,...,...,...,...,...
46623,46623,"['leilahatami', 'kouroshtahami', 'elhamkorda']",['hamidnematollah'],439050,['tragiclove'],رگ خواب,leilahatami kouroshtahami elhamkorda hamidnema...
46624,46624,"['angelaquino', 'perrydizon', 'hazelorencio', ...",['lavdiaz'],111109,"['artist', 'play', 'pinoy']",Siglo ng Pagluluwal,angelaquino perrydizon hazelorencio joeltorre ...
46625,46625,"['erikaeleniak', 'adambaldwin', 'juliedupage',...",['markl.lester'],67758,[],Betrayal,erikaeleniak adambaldwin juliedupage jamesrema...
46626,46626,"['iwanmosschuchin', 'nathalielissenko', 'pavel...",['yakovprotazanov'],227506,[],Satana likuyushchiy,iwanmosschuchin nathalielissenko pavelpavlov a...
46627,46627,[],['daisyasquith'],461257,[],Queerama,daisyasquith

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
dfs = df.iloc[:10000,:] #due to memory issues, using first 10k rows
from pandas.core.describe import DataFrameDescriber
#DataFrameDescriber = dfs.sample(frac =.2)
count_vec = CountVectorizer(stop_words='english')
count_vec_matrix = count_vec.fit_transform(dfs['metadata'])
cosine_sim_matrix = cosine_similarity(count_vec_matrix, count_vec_matrix)
#movies index mapping
mapping = pd.Series(dfs.index,index = dfs['original_title'])

In [5]:
#recommender function to recommend movies based on metadata
def recommend_movies_based_on_metadata(movie_input):
  movie_index = mapping[movie_input]
 #get similarity values with other movies
  similarity_score = list(enumerate(cosine_sim_matrix[movie_index]))
  similarity_score = sorted(similarity_score, key=lambda x: x[1], reverse=True)
 # Get the scores of the 15 most similar movies. Ignore the first movie.
  similarity_score = similarity_score[1:15]
  movie_indices = [i[0] for i in similarity_score]
  return (df['original_title'].iloc[movie_indices])

In [6]:
recommend_movies_based_on_metadata('Toy Story 2')

0                        Toy Story
2262                  A Bug's Life
7090                 Teacher's Pet
4797                Monsters, Inc.
6301                  Finding Nemo
3991      The Brave Little Toaster
8317               The Incredibles
5806               Treasure Planet
6809                  Brother Bear
346               Corrina, Corrina
2155                  Stars & Bars
2160    The Cabinet of Dr. Ramirez
2673                The Iron Giant
2298                 A Simple Plan
Name: original_title, dtype: object